.hdr {
    header {
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  height: 8%;
  top: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.616);
  border-bottom: 1px solid rgba(105, 99, 99, 0.4);
  -webkit-transition: height 0.3s;
  
  .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  
  a {       
    color: rgb(252, 249, 249);
  }
  
  nav {
    float: right;
    line-height: 5%;
    font-size: 1.0em;
    a {
      margin-left: 3vw;
    }
    

  }
  
}

.container {
  height: 40vh; 
}
}