<link rel="stylesheet" href="css/header.css">
<header>
    <div class="container">
        <h1>
            <a href="/">Web Developer</a>
        </h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Blog</a>
        </nav>
    </div>
</header>
<div class="container"></div>