<link rel="stylesheet" href="css/header.css">
<header>
    <div class="container">
        <h1>
            <a href="/">Luiz Felipe Trindade</a>
        </h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">Social</a>
            <a href="#">About</a>
        </nav>
    </div>
</header>
<div class="container"></div>