<link rel="stylesheet" href="css/header.css">
<header>
    <div class="container">
        <h1 class="title">
            <a href="/">Luiz Felipe Trindade</a>
        </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/social">Social</a>
            <a href="/about">About</a>
        </nav>
    </div>
</header>