<link rel="stylesheet" href="css/header.css">
<header>
    <div class="container">
        <h1>
            <a class="btn btn-2" href="/">Luiz Felipe Trindade</a>
        </h1>
        <nav>
            <a href="/">Home</a>
            <a href="#">Social</a>
            <a href="/about">About</a>
        </nav>
    </div>
</header>
<div class="container"></div>