<link rel="stylesheet" href="css/header.css">
<header>
        <h1>
            <a href="/">Luiz Felipe Trindade</a>
        </h1>
        <div>
        <nav>
            <a href="/">Home</a>
            <a href="/social">Social</a>
            <a href="/about">About</a>
        </nav>
        
</header>
