<div class="hdr">
    {{> header}}
</div>
<link rel="stylesheet" href="css/about.css">

<div class="flex-container">
    <h2>About Me</h2>
    <hr>
    <div class="paragraph">
    <p> It Student</p>
    <p>Full Stack Web Developer</p>
    <p> Familiar with Agile Methodology, TDD, Continuous Integration, Node.js, MongoDB</p>
    <p>Thirst for knowledge</p>
    </div>
</div>  