<div class="hdr">
    {{> header}}
</div>
<link rel="stylesheet" href="css/about.css">

<div class="flex-container">
    <h2>About</h2>
    <p class="paragraph"> It Student</p>
    <p class="paragraph"> Familiar with Agile Methodology, TDD, Continuous Integration, Node.js</p>
    <p class="paragraph">Full Stack Web Developer</p>
    <p class="paragraph">Thirst for knowledge</p>
</div>