<section class="buttons">
    <h1>Redes Sociais</h1>
    <div class="container">

        <a href="https://www.facebook.com/luiz.fetrindade" class="btn btn-1">
            <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>
            Facebook
        </a>
        <!--End of Button 1 -->

        <a href="https://www.instagram.com/luiz.fetrindade/" class="btn btn-2">Instagram</a>
        <!--End of Button 2 -->

        <a href="https://github.com/luizfetrindade" class="btn btn-3">GitHub</a>
        <!--End of Button 3 -->

        <a href="https://www.linkedin.com/in/luizfetrindade/" class="btn btn-4">
            <span>Linkedin</span>
        </a>
        <!--End of Button 4 -->

        <a href="https://medium.com/@luizfelipetrindade/a-disciplina-como-um-processo-de-aprendizado-660be60ae958" class="btn btn-5">Medium</a>
        <!--End of Button 5 -->


    </div>
</section>